---
layout: default
---
<section>
  <div class="container mt-5 pt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% assign posts = site.posts | sort: 'slug'%}
      {%assign sortedPosts = posts  %}
      {% for post in posts %}
      <div class="col">
        <div class="card border-0">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="pt-3">
                  <img src="{{post.icon}}" width="100px" alt="" class="border-3 rounded-circle border-light">
                </div>
                <div class="media-body text-right align-self-center p-2">
                  <h4>{{post.title}}</h4>
                  <p class="text-muted">آخرین بروزرسانی: <span class="persianDate" data-timestamp="{{post.date | date: '%s'}}"></span></p>
                  {%if post.toc%}<small class="text-muted">بخش‌ها: </small>{% for item in post.toc %}<span class="badge bg-light text-dark">{{item}}</span>{%endfor%}<br>{%endif%}
                  {%if post.report%}<a href="{{post.report}}" target="_blank" class="btn btn-sm mt-2 btn-outline-danger"><i class="bi bi-file-earmark-pdf"></i> گزارش </a>{%endif%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
