<div class="mt-5 pt-5 pb-5 footer bg-dark text-white">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12 about-company">
      <h4>طرح ویژه بند تاریخی کنگ</h4>
      <img src="/assets/img/bhrc.png" alt="">
      <img src="/assets/img/mrud.png" alt="">
      <img src="/assets/img/bandar-kong.png" alt="">
    </div>
    <div class="col-lg-6 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">تماس</h4>
      <h6>دفتر بندر کنگ</h6>
      <p><i class="bi bi-geo-alt-fill"></i> میدان انقلاب، گذر زیرمهره، پایگاه بافت تاریخی بندر کنگ</p>
      <h6>دفتر تهران</h6>
      <p><i class="bi bi-geo-alt-fill"></i> بزرگراه شیخ فضل‌ا..نوری، جنب شهرک فرهنگیان، خیابان نارگل، خیابان شهید علی مروی، خیابان حکمت، مرکز تحقیقات راه، مسکن و شهرسازی</p>
    </div>
  </div>
  <div class="row mt-5 text-center" dir="ltr">
    <div class="col copyright">
      <p class=""><small class="text-white-50">آزمایشگاه طرح‌های شهری | تمام حقوق این سایت متعلق به مرکز تحقیقات راه، مسکن و شهرسازی است | 2022-2018 ©</small></p>
    </div>
  </div>
</div>
</div>
