{% assign lastPost = site.posts limit:1 %}
<nav class="navbar navbar-expand-lg navbar-light bg-white {% if page.url == '/' %} fixed-top py-3{% endif%}">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logo.png" alt="" width="200" height="50">
      </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
            </div>
            <div class="navbar-nav ms-auto">
              {% for item in site.data.topnav %}
              <li class="nav-item {% if page.url == item.link %} active{% endif %} {% if item.name == 'login' %}existingUserQ newUser{% endif %}{% if item.name == 'user' %}welcomeUserTxt loggedin{% endif %} {% if item.subitems %}dropdown{%endif%}">
                <a {% if item.name == 'login' %}data-toggle="modal" data-target="#modalLoginForm"{% endif %} class="nav-link {% if item.name == 'update' %}disabled{%endif%} {% if page.url == item.link %} active{% endif %} {% if item.subitems %}dropdown-toggle{%endif%}" {% if item.subitems %}data-toggle="dropdown"{%endif%} href="{{ item.link }}">
                  {% if item.name == 'update' %}{{item.label }} {% for post in site.posts limit:1 %}<span class="persianDate" data-timestamp="{{post.date | date: '%s' }}"></span>{%endfor%}
                  {% else %}
                  {{ item.label }}
                  {% endif %}
                </a>
                {% if item.subitems %}
                  <ul class="dropdown-menu dropdown-menu-right">
                    {% for entry in item.subitems %}
                      <li class="dropdown-item {{entry.class}}"><a href="{{ entry.url }}">{{ entry.label }}</a></li>
                    {% endfor %}
                  </ul>
                {%endif%}

              </li>
              {% endfor %}
            </div>
        </div>
    </div>
</nav>
