---
layout: default
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 mb-0">{{page.title}}</h1>
        {% if page.date %}<p class="persianDate text-muted" data-timestamp="{{page.date | date: '%s'}}"></p>{% endif %}
      </div>
      {%if page.coverImg != '' and page.coverImg%}
      <div class="col-12">
        <img src="{{page.coverImg}}" class="img-fluid w-100" alt="" style="height:100vh;object-fit:cover;">
      </div>
      {%endif%}
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6 lead pt-3 content">
        {%if page.excerpt%}<blockquote class="blockquote">{{page.excerpt}}</blockquote>{%endif%}
        {{page.content| markdownify}}
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6 lead pt-3 content">
        <p><span class="mt-1 h2">اشتراک:</span>
        <a href="{{tg.url}}" class="btn btn-secondary rounded-circle"><i class="bi bi-twitter"></i></a>
        <a href="{{tg.url}}" class="btn btn-secondary rounded-circle"><i class="bi bi-telegram"></i></a>
        <a href="{{tg.url}}" class="btn btn-secondary rounded-circle"><i class="bi bi-whatsapp"></i></a>
        <a href="{{tg.url}}" class="btn btn-secondary rounded-circle"><i class="bi bi-envelope"></i></a>
        <a href="{{tg.url}}" class="btn btn-secondary rounded-circle"><i class="bi bi-link-45deg"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
</script>
